<appSettings>
	<!-- path to msbuild, you might need to change it to use 32bit version. Untested with anything apart from .NET 4 -->
	<add key="msbuild" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\msbuild"/>
	
	<!-- admin password -->
	<add key="password" value="net-deploy-default-password" />

	<!-- set to 'true' in production -->
	<add key="require_https" value="false" />	
</appSettings>
