<appSettings>
	<!-- path to msbuild, you might need to change it to use 32bit version. Untested with anything apart from .NET 4 -->
	<add key="msbuild" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\msbuild"/>
	
	<!--
	admin password, encrypted with bcrypt
	default for testing on localhost is 'password'
	you can use Util.BcryptPassword to generate a new password
	-->
	<add key="password" value="$2a$10$7mv3y3MxuKaABjkEeYmYaenR2btIWkhfwvhXrVpn0aCYRbcksC2Da" />

	<!-- set to 'true' in production -->
	<add key="require_https" value="false" />	
</appSettings>
