<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="trace" xsi:type="File" fileName="${basedir}/Logs/trace.log" layout="${date} ${level}: ${message}"/>
    <target name="error" xsi:type="File" fileName="${basedir}/Logs/error.log" layout="${date} ${message}"/>
    <target name="email" xsi:type="Mail" from="errors@studystays.com" to="support@studystays.com" subject="Deploy error" smtpServer="localhost" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="trace" />
    <logger name="*" minlevel="Error" writeTo="email,error" />
  </rules>
</nlog>
